{% extends "base/base.html" %}
{% block title%}CommitMonitor{% endblock %}
{% block body %}

    <h1>Details about {{ project_name }} project</h1>
    <br>
    <div class="container">
        <div class="col-1">
            <form method="POST">
               <label for="project_name">Project name</label>
               <input name="project_name" id="project_name" required>
               <input type="submit" value="Get project activities">
            </form>
        </div>
    </div>

    <hr>

        {% for i in range(repositories|length) %}
            {% if project_name == repositories[i].name %}
                {% for branch in repositories[i].branches %}
                    <h1>{{ branch.name }}</h1>
                        {% if branch.commits|length != (None, []) %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>LP</td>
                                        <td>Commit name</td>
                                        <td>User</td>
                                        <td>Date</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for commit in branch.commits %}
                                        <tr>
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ commit.name }}</td>
                                            <td>{{ commit.auth }}</td>
                                            <td>{{ commit.date }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}


{% endblock %}