{% extends "base/base.html" %}
{% block title%}CommitMonitor{% endblock %}
{% block body %}

    <form method="POST">
        <div class="form-group">
            <div class="col-sm-2">
                <label for="username">Git User name</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name"/>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Get user activities</button>
            </div>
        </div>
    </form>

    <div class="container">
        {% for i in range(repositories|length) %}
            <h1>Repository name: {{repositories[i].name}}</h1>
            {% for branch in repositories[i].branches %}
                {% if branch.commits|length != 0 %}
                <h3>Branch name: {{ branch.name }}</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>LP</td>
                                    <td>Commit name</td>
                                    <td>User</td>
                                    <td>Date</td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for commit in branch.commits %}
                                    {% if commit.auth == user %}
                                    <tr>
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ commit.name }}</td>
                                        <td>{{ commit.auth }}</td>
                                        <td>{{ commit.date }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}