{% extends "base/base.html" %}
{% block title%}CommitMonitor{% endblock %}
{% block body %}


<h1>Commit Monitor</h1>
<p>
    Commit monitor is a web application created to users who want to measure a project activities
    to check gitflow and which user have more commits and MR-s. It's very easy to use, user should only
    subscribe some git project and he have infiormation about his and aothers activities. We have diagrams and
    tabels to display infiormation about project. If some team have some regex to check mr-s names o commits names
    we can just ours program to check names, or sctucture of mr, commit.
</p>
<br>



{% endblock %}