{% extends "base/base.html" %}
{% block title%}CommitMonitor{% endblock %}
{% block body %}

<style>
    .row-blocks {
        margin-bottom: 3%;
    }
</style>

<div class="container">

    <div class="row row-blocks">
        <form method="POST">
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-7">
                    <input type="text" class="form-control"
                           id="project_name" name="project_name"
                           placeholder="Enter project name"/>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">Get project merge requests</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        {% for i in range(repositories|length) %}
            {% if project_name == repositories[i].name %}
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>Pull request name</h3></div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>LP</td>
                                            <td>Name</td>
                                            <td>Author</td>
                                            <td>Date</td>
                                            <td>Labels</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for pull_request in repositories[i].pull_requests %}
                                        <tr>
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ commit.name }}</td>
                                            <td>{{ commit.auth }}</td>
                                            <td>{{ commit.date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

            {% endif %}
        {% endfor %}
    </div>
</div>

        self.name = name
        self.author = author
        self.date = date
        self.labels = labels


<br><br>


{% endblock %}