{% extends "base/base.html" %}


{% block title%}Add new repository{% endblock %}


{% block body %}
	{% if state %}
		<center>
		<h1>Subscribe new repository</h1>

		<form class="centerform" method="POST">

			<div class="form-group">
    			<input type="text" class="form-control"
					   id="name" name="name"
					   aria-describedby="emailHelp"
					   placeholder="Enter name of repository">
  			</div>

			<div class="form-group">
    			<input type="text" class="form-control"
					   id="url" name="url" placeholder="Enter url to repository">
  			</div>

			<div class="form-group">
    			<select class="form-control" id="exampleFormControlSelect1">
      				<option>GitHub</option>
      				<option>GitLab</option>
					<option>Bitbucket</option>
		    	</select>
			</div>

  			<button type="submit" class="btn btn-default btn-lg btn-block">Add subscription</button>
		</form>
		</center>

	{% else %}

		<h1>All of your subscribed repositories</h1>
		<div class="container">
			{% for i in range(repositories|length) %}
				<h1>{{ repositories[i].name }}</h1>

				<table class="table table-striped">
					<thead>
						<tr>
							<td>LP</td>
							<td>Branch name</td>
							<td>User</td>
							<td>Date</td>
							<td>Commits</td>
						</tr>
					</thead>

					<tbody>
						{% for branch in repositories[i].branches %}
						<tr>
							<td>{{ i }}</td>
							<td>{{ branch.name }}</td>
							<td>{{ branch.auth }}</td>
							<td>{{ session['username'] }}</td>
							<td>{{ branch.commits|length }}</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}