{% extends "base/base.html" %}
{% block title%}New{% endblock %}
{% block body %}
<h1>All of your subscribed repositories</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>LP</td>
                <td>Name</td>
                <td>Branch</td>
                <td>User</td>
                <td>Commits</td>
            </tr>
        </thead>
        <tbody>
            {% set count = 1 %}
            {% for element in repositories %}
                {%for branch in element.branches %}
                    <tr>
                        <td>{{ count }}</td>
                        <td>{{ element.name }}</td>
                        <td>{{ branch[0] }}</td>
                        <td>{{ session['username'] }}</td>
                        <td>{{ branch[1] }}</td>
                    </tr>
                    {% set count = count + 1 %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}